@charset "UTF-8";

/*
    PALETAS DE CORES
    VERDE: #fff
    LILÃS: #494949

*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #494949;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #fff;
    width: 300px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);


    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #494949 url(../imagens/pexels-el-evangelista-171946-1070345.jpg);
    background-size: cover no-repeat;
    background-position: left, bottom;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
}

div#form > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #494949;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #494949;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #646464;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: #fff;
    color: #646464;
    border: 1px solid #646464;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #494949;
    color: white;
}

form > a.botao > i {
    font-size: 0.8em;
}