@charset "UTF-8";

/*
    PALETAS DE CORES
    VERDE: #49a09d
    LILÃS: #5f2c82

*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #494949;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #fff;
    width: 200px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);


    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-el-evangelista-171946-1070345.jpg);
    background-size: cover no-repeat;
    background-position: left, bottom;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}